@import './libs'
@import './vars'
@import './fonts'

body, html
  overflow-x: hidden
  background-color: #000000 
  font-size: 16px

.background
  background: url("../img/bg.jpg")
  width: 100vw
  height: 100vh
  background-size: 100%
  background-repeat: no-repeat
  padding-top: 5vw
  position: absolute

.dashboard
  background: url("../img/3/full.png")
  height: 90vh
  width: 20vw
  background-repeat: no-repeat
  background-size: 100% 100%
  background-position: center
  margin: auto
  max-width: 986px
  max-height: 417px
  min-width: 375px
  min-height: 388px
  position: relative
  &__info
    width: 62%
    height: 83%
    position: absolute
    top: 44px
    left: 50%
    transform: translateX(-50%)
    box-sizing: border-box
    padding: 10px
  &__row
    width: 100%
    font-size: 2vw
    color: $primary-color
    display: flex
    justify-content: space-between
  &__spinData 
    font-family: Teko
  &__icons
    border-bottom: solid 1px $primary-color
    margin-bottom: 15px
    padding-bottom: 10px
    display: flex
    justify-content: space-between
  &__icon
    color: $primary-color
    font-size: 2vw

  &__time
    text-align: center
    color: #dfdfdf
    font-size: 4vw
    transform: translateY(-3vw)
    font-family: Teko


@import './media'